<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class='container'>
        <div class='jumbotron text-center'>
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lng" href="/scrape" role="button">Scrape New data</a>
            </p>
        </div>
        <!-- Mars News -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h4  class="media_heading">{{mars.news_title}}</h4>
                        <p>{{ mars.news_paragraph }}</p>

                    </div>
                </div>
               </div>
        </div>

        <!-- Featured Image -->
        
        <div class="row" id="mars-featured-imag">
           <!-- we used 8 columns here bc we just have12 columns we will use 8 of them here but 4 remain we will beuse for a table data -->
            <div class="col-md-6">
                <h2>Featured Mars Image</h2>
                <!-- calss below will add another built in bootstrap component for image and alt is a text if the image wont load  -->
                <img src="{{mars.featured_img}}" class="img-responsive"  alt="Responsive image" />
            </div>
            <!-- Mars Facts -->
            <div class="col-md-6">
                <div class="row" id="mars-facts">
                    <h4>Mars Facts</h4>
                    <!-- the safe part will tell the web browser that this code doesnt contain anything malicious-->
                   <table class="table table-striped">{{mars.facts | safe}}</table> 
                </div>
            </div>
        </div>
        <div class=row id="mars-hemispheres">
            <div class='jumbotron text-center col-md-12'>
                <h3 >Mars Hemispheres</h3>
            </div> 
                <div class="row-sm" id="img-title">
                {% for hemisphere in mars.hemisphere %}
                    <div class="col-xs-3 .col-sm-3"><img src="{{hemisphere.img_url}}" class="img-responsive"  alt="Responsive image" /><h5>{{hemisphere.title}}</h5></div>
                {% endfor %}    
            
        </div>
    </div>
    
</body>
</html>
